.RowEta {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

@media (max-width: 600px) {
    .RowEta {
        width: 80%;
    }

    .RowEta img{
        width: 30px;
    }
}